<div class="container">
  <h1 style="text-align: center;">Painel administrador</h1>
</div>


<form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <div class="mb-3">
    <label for="dataInicio" class="form-label">Data Início:</label>
    <input type="date" class="form-control" id="dataInicio" name="dataInicio" [(ngModel)]="dataInicio" required>
    <div class="invalid-feedback">
      Por favor, selecione uma data início.
    </div>
  </div>

  <div class="mb-3">
    <label for="dataFim" class="form-label">Data Fim:</label>
    <input type="date" class="form-control" id="dataFim" name="dataFim" [(ngModel)]="dataFim" required>
    <div class="invalid-feedback">
      Por favor, selecione uma data fim.
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-assinar">Enviar</button>
</form>
