.container {
    .carousel-container {
      overflow: hidden;
    }
  
    .custom-carousel {
      max-width: 100%;
      margin: 0 auto;
    }
  
    .carousel-image {
      max-width: 50%;
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
  
      &:hover {
        opacity: 1;
      }
    }
  }

  .custom-carousel-item {
    transition: transform 0.5s ease-in-out;
  }
  
  .custom-carousel-item + .custom-carousel-item {
    transform: translateX(50%);
  }
  
  .me-company, .me-media {
    max-height: 70px;
    max-width: 100px;
}

.card-text__image img {
  width: 110px;
  height: 110px;
  align-items: center;
}