<div class="container-component aem-GridColumn aem-GridColumn--default--12 informacao">
    <div class="container container--original">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
            <div class="spacer aem-GridColumn aem-GridColumn--default--12">
                <div class="hide show-desktop" style="margin-bottom: 68px;"></div>
                <div class="show-mobile hide-desktop" style="margin-bottom: 68px;"></div>
            </div>
            <div class="title aem-GridColumn aem-GridColumn--default--12">
                <div class="container">
                    <div class="row hgroup component-color--original" data-controller="title"
                        data-theme="component-color--original" data-color="white">
                        <div>
                            <h2 class="h2" style="text-align: center;"
                                data-analytics-id="form_title:banda_larga_com_fibra_otica_wifi_gratis_e_muito_mais">
                                Banda larga com fibra ótica, Wi-Fi grátis e muito mais</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer aem-GridColumn aem-GridColumn--default--12">
                <div class="hide show-desktop" style="margin-bottom: 24px;"></div>
                <div class="show-mobile hide-desktop" style="margin-bottom: 24px;"></div>
            </div>
            <div class="side-by-side-component aem-GridColumn aem-GridColumn--default--12">
                <div class="container">
                    <div class="card-text__container component-color--original">
                        <div class="row">
                            <div class="card-text col-md-12 col-lg-4 col-xl-4 card-text--3 flex-order-- text-center">
                                <figure class="card-text__image card-text__image--quadrada">
                                    <img src="assets/img/vivo-computador-velocidade-purpura-esquerda-320x320.svg" class="img-fluid">
                                </figure>
                                <h3 class="card-text__title" style="height: 28px;">Internet rápida </h3>
                                <div class="card-text__content richtext__underline">
                                    <br>
                                    <br>
                                    <p>Ultravelocidade para reunir as pessoas em casa e curtir jogos online e streamings.<br></p>
                                </div>
                            </div>
                            <div class="card-text col-md-12 col-lg-4 col-xl-4 card-text--3 flex-order-- text-center">
                                <figure class="card-text__image card-text__image--quadrada">
                                    <img src="assets/img/vivo-fibra-estabilidade-conexao-notebook-320x320.svg">
                                </figure>
                                <h3 class="card-text__title" style="height: 28px;">Conexão estável de internet</h3>
                                <div class="card-text__content richtext__underline">
                                    <br>
                                    <br>
                                    <p>Maior desempenho para jogar online e para fazer download e upload de fotos e
                                        vídeos.&nbsp;</p>
                                </div>
                            </div>
                            <div class="card-text col-md-12 col-lg-4 col-xl-4 card-text--3 flex-order-- text-center">
                                <figure class="card-text__image card-text__image--quadrada">
                                    <img src="assets/img/vivo-sva-apps-inclusos-rosa-320x320.svg">
                                </figure>
                                <h3 class="card-text__title" style="height: 28px;">Apps de Conteúdo</h3>
                                <div class="card-text__content richtext__underline">
                                    <br>
                                    <br>
                                    <p>Apps para curtir filmes e séries online, esportes e programação infantil.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
