<!-- oferta-card.component.html -->
<div class="card container">
    <div class="card-body">
      <div class="row">
        <div class="col-1">
          <div *ngIf="oferta.popular">Popular</div>
        </div>
        <div class="col-1">
            <img [src]="oferta.provedorImagem" alt="Provedor">
          </div>    
        <div class="col-1">
          <img src="assets/img/velocimetro.png" alt="Velocímetro">
          <span>{{ oferta.megas }} MB</span>
        </div>
        <div class="col-1">
          <img src="assets/img/ethernet.png" alt="Cabo RJ45">
          <span *ngIf="oferta.tipoTecnologia === 'cabo'">Cabo</span>
          <span *ngIf="oferta.tipoTecnologia === 'fibra'">Fibra</span>
        </div>
        <div class="col-1">
          <img src="assets/img/sinal-wifi.png" alt="WiFi">
          <span>WIFI incluso</span>
        </div>
        <div class="col-1">
          <span>{{ oferta.streamings }}</span>
        </div>
        <div class="col-1">
          <div>
            <strong>{{ oferta.valor | currency: 'BRL':'symbol':'1.2-2' }}</strong>
          </div>
          <div>Por mês</div>
          <div>Instalação grátis</div>
        </div>
        <div class="col-3">
          <div *ngIf="oferta.cobertura; else noCobertura">
            <img src="assets/img/correto.png" alt="Check">
          </div>
          <ng-template #noCobertura>
            <img src="assets/img/incorreta.png" alt="Negativo">
          </ng-template>
          <button>Assinar</button>
          <a href="#">Mais Detalhes</a>
        </div>
      </div>
    </div>
  </div>
  