<div class="modal-dialog" id="contratoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="contratoModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="contratoModalLabel">Contrate Online</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="fecharModal()"></button>
    </div>
    <div class="modal-body">
      <div class="timeline">
        <div class="step active">
          <div class="step-icon"
            [ngClass]="{'no-active': currentStep === 0, 'yep-active': (currentStep === 0 || currentStep === 1 || currentStep === 2) }">
            <fa-icon icon="user"></fa-icon>
          </div>
          <div class="step-label">Dados pessoais</div>
        </div>
        <div class="step">
          <div class="step-icon"
            [ngClass]="{'no-active': currentStep !== 1, 'yep-active': (currentStep === 1 || currentStep === 2) }">
            <fa-icon fa-icon icon="map-marker-alt"></fa-icon>
          </div>
          <div class="step-label">Endereço</div>
        </div>
        <div class="step">
          <div class="step-icon" [ngClass]="{'no-active': currentStep !== 2, 'yep-active': currentStep === 2}">
            <fa-icon icon="wifi"></fa-icon>
          </div>
          <div class="step-label">Contratação</div>
        </div>
      </div>
      <form id="contratoForm">
        <div class="step-content active" [class.active]="currentStep === 0">
          <form class="form-group" [formGroup]="dadosPessoais">
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="nomeCompleto" formControlName="nomeCompleto" required>
                  <label for="nomeCompleto">Nome Completo</label>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="email" class="form-control" id="email" formControlName="email" required>
                  <label for="email">E-mail</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="cpf" formControlName="cpf" required>
                  <label for="cpf">CPF</label>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="tel" class="form-control" id="telefone" formControlName="telefone" required>
                  <label for="telefone">Telefone</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="step-content" [class.active]="currentStep === 1">
          <form class="form-group" [formGroup]="formulario">
            <div class="mb-3">
              <div class="form-floating input-group">
                <input type="text" class="form-control cep-input" id="cep" formControlName="cep" required maxlength="8">
                <label for="cep">CEP</label>
                <span type="button" class="btn btn-primary input-group-text"
                  style="background-color: #6D01A4; color:#fff" (click)="consultarCEP()"
                  id="basic-addon2">Alterar</span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="endereco" formControlName="endereco" required>
                <label for="endereco">Endereço</label>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="numero" formControlName="numero" required>
                    <label for="numero">Número</label>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="bairro" formControlName="bairro" required>
                    <label for="bairro">Bairro</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="cidade" formControlName="cidade" required>
                  <label for="cidade" class="form-label">Cidade</label>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="uf" formControlName="uf" required>
                  <label for="uf">UF</label>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="numero" formControlName="complemento" required>
                <label for="complemento">Complemento</label>
              </div>
            </div>
          </form>
        </div>
        <div class="step-content" [class.active]="currentStep === 2">
          <label for="plano" class="form-label">Plano</label>
          <form class="form-group" [formGroup]="plano">
            <div class="card container" style="padding: 10px;">
              <div class="card-body">
                <div class="container">
                  <div class="row contartacao-cards">
                    <div class="col-md-2">
                      <img [style.max-width]="'100%'" class="img-logos" *ngIf="item.info_plano.operadora === 'VIVO'"
                        src="assets/img/vivo-logo.webp">
                      <img [style.max-width]="'66%'" class="img-logos" *ngIf="item.info_plano.operadora === 'TIM'"
                        src="assets/img/Logos_tim.png">
                      <img [style.max-width]="'100%'" class="img-logos" *ngIf="item.info_plano.operadora === 'OI'"
                        src="assets/img/oi-logo.webp">
                      <img [style.max-width]="'66%'" class="img-logos" *ngIf="item.info_plano.operadora === 'SKY'"
                        src="assets/img/logo-sky.svg">
                      <span><strong style="display: block;">{{ item.info_plano.dados }}</strong></span>
                    </div>
                    <div class="col-md-2">
                      <img src="assets/img/velocimetros.png" alt="Velocímetro">
                      <span class="text-muted" *ngIf="item.info_plano.dados.split(' ')[0].length === 1"> {{
                        item.info_plano.dados.split(' ')[0] }} GB</span>
                      <span class="text-muted" *ngIf="item.info_plano.dados.split(' ')[0].length !== 1"> {{
                        item.info_plano.dados.split(' ')[0] }} MB</span>
                    </div>
                    <div class="col-md-2">
                      <img src="assets/img/cabo (1).png" alt="Cabo RJ45">
                      <span class="text-muted">{{ item.info_plano.tecnologia }}</span>
                    </div>
                    <div class="col-md-2">
                      <img src="assets/img/sinal.png" alt="WiFi">
                      <span class="text-muted">WIFI incluso</span>
                    </div>
                    <div class="col-md-2">
                      <img src="assets/img/streaming-de-video.png" alt="Serviços de streaming">
                      <span class="text-muted detalhea">Serviços digitais*</span>
                    </div>
                    <div class="col-md-2">
                      <strong>{{ item.valores_plano.valor_oferta | currency: 'BRL':'symbol':'1.2-2' }}</strong>
                      <span class="text-muted">Por mês Instalação grátis</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Preferencia de Instalação</label>
              <div class="row">
                <div class="col-md-2 mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="manhaCheckbox" formControlName="manhaCheckbox">
                    <label class="form-check-label" for="manhaCheckbox">
                      Manhã
                    </label>
                  </div>
                </div>
                <div class="col-md-2 mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="tardeCheckbox" formControlName="tardeCheckbox">
                    <label class="form-check-label" for="tardeCheckbox">
                      Tarde
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer"
          style="display: flex; align-content: space-around; justify-content: space-evenly; align-items: center;">
          <button type="button" class="btn btn-light" id="btnVoltar" [hidden]="currentStep === 0" (click)="voltar()"
            style="background-color: #fff; color:#6D01A4; border: 1px solid #6D01A4">Voltar</button>
          <button type="button" class="btn btn-light" id="btnAvancar" [hidden]="currentStep === 2" (click)="avancar()"
            style="background-color: #6D01A4; color:#fff; border: none; box-shadow: none;">Avançar</button>
          <button type="button" class="btn btn-light" id="confirm" [hidden]="currentStep !== 2" (click)="cancelar()"
            style="background-color: #fff; color:#6D01A4; border: 1px solid #6D01A4">Cancelar</button>
          <button type="button" class="btn btn-light" id="submitButton" [hidden]="currentStep !== 2"
            (click)="saveDataGet()"
            style="background-color: #6D01A4; color:#fff; border: none; box-shadow: none;">Enviar Solicitação</button>
        </div>
      </form>
    </div>
  </div>
</div>
