<div class="section-footer wf-section ">
    <div class="container">
        <div class="div-footer">
            <a class="navbar-brand" href="#">
                <img src="assets/img/circuito-eletrico-new.png" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
                <span style="letter-spacing: 2px; color: #fff; font-size: 20px; text-decoration: none;">TENHA <strong>FIBRA</strong></span>
            </a>
        </div>
        <div class="div-footer mobile text-center">
            <div class="text-block-20" style="padding-bottom: 35px;">
                <img src="assets/img/circuito-eletrico-new.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                <br>
                <span style="letter-spacing: 2px; font: arial; font-size: 20px;">TENHA <strong> FIBRA</strong></span>
            </div>
        </div>
    </div>
</div>