.custom-bg-color {
    background-color: #FFF;
    color: #6D01A4;
}

.btn-bg-color{
    background-color: #6D01A4;
    border-color: #6D01A4;
    color: #FFF;
}

.custom-color{
    color: #6D01A4;
}

















