<section class="container-cep">
    <div class="container banner">
        <div class=" container">
            <h1 style="letter-spacing: 2px; color: #fff;">TENHA <strong> FIBRA</strong></h1>
            <p style="color: #fff; font-size: 17px;">Consulte a melhor cobertura disponível para seu CEP</p>
            <form class="row">
                <div class="row">
                    <div class="col-1 mb-3">
                        <label class="form-label">CEP</label>
                    </div>
                    <div class="col-1 input-cep mb-3">
                        <div class="input-group mb-3">
                            <input 
                                minlength="0"
                                maxlength="8"
                                type="text" 
                                class="form-control" 
                                name="cepInput" 
                                placeholder="Seu CEP"
                                [(ngModel)]="cep" 
                                [value]="cep | cepFormat"
                                (keyup.enter)="consultarCep()">
                        </div>
                    </div>
                    <div class="col-2 mb-3">
                        <button 
                            [disabled]="isButtonDisabled()" 
                            class="btn btn-success btn-consultar-cep" 
                            (click)='consultarCep()'
                            type="button">Consultar Planos
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>